* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

div {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 20%;
}

div button {
  margin: 3%;
  padding: 2%;
  font-size: 20px;
  background-color: skyblue;
  border-radius: 10px;
}

.Notify {
  z-index: 10000000000;
  position: absolute;
  right: 0;
  top: 3%;
  height: 40px;
  width: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #76b900;
}

.secondary {
  position: absolute;
  height: 40px;
  width: 0;
  background-color: #252527;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.Text {
  color: white;
  font-size: 20px;
  opacity: 0;
}

@keyframes notifyExpand {
  0% {
    width: 0;
  }
  100% {
    width: 240px;
  }
}

@keyframes secondaryExpand {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}

@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes notifyCollapse {
  0% {
    width: 240px;
  }
  100% {
    width: 0;
  }
}

@keyframes secondaryCollapse {
  0% {
    width: 95%;
  }
  100% {
    width: 0;
  }
}

.Notify.active {
  animation: notifyExpand 0.15s forwards, notifyCollapse 0.15s 1.7s forwards;
}

.Notify.active .secondary {
  animation: secondaryExpand 0.25s 0.25s forwards,
    secondaryCollapse 0.2s 1.3s forwards;
}

.Notify.active .Text {
  animation: textAppear 0.25s 0.7s forwards;
}
