* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

div {
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 4vh;

}

div button {
    margin: 3%;
    padding: 2%;
    font-size: 20px;
    background-color: skyblue;
    border-radius: 10px;
}

.Notify {
    z-index: 10000000000;
    position: absolute;
    right: 0;
    top: 10%;
    height: 40px;
    width: 0;
    background-color: #76b900;
    transition: all 0.3s;
}

.secondary {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 0;
    height: 40px;
    background-color: #252527;
    transition: all 0.3s;
}

.Notify .Text {
    font-size: 20px;
    color: white;
    transition: all 0.3s;
}